* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    padding: 2em;
    height: 100vh;

    background: radial-gradient(circle at center, #649993af, #8f5c9eaf), url("/public/wave-background.avif"), linear-gradient(#649993, #649993);
    background-size: fit;
    background-position: center;
    color: #fff;

    font-family: "Roboto Slab", Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#forum-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
}

button, #forum-container > div {
    box-shadow: 0 0 8px #fff;
    background: #dffffc7f;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 8px;

    transition: background .2s ease-in-out, color .2s ease-in-out;
}

#forum-container > div {
    width: 24ch;
    min-height: 12em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

hr {
    width: 80%;
}
h3 {
    margin: 0;
}
button:hover,
#forum-container > div:hover {
    background: #ffffff7f;
}
button:active,
#forum-container > div:active {
    background: #fff;
    color: #000;
}

input {
    font-family: inherit;
    font-size: 1em;
    background: #020b0d7f;
    box-shadow: 0 4px 16px inset #0a1c347f;
    border: none;
    color: currentColor;
    padding: 0.25em;
    width: 40ch;
}
button {
    font-family: inherit;
    font-size: 1em;
    color: currentColor;
    border: none;
}

.create-forum-form {
    display: flex;
    gap: 1em;
}

#Login-Form,
#registration-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

form label {
    display: inline-block;
    min-width: 10ch;
    text-align: right;
}

a[href] {
    color: #ffffffaf;
}

a[href]:hover {
    color: #fff;
}

a[href]:active {
    opacity: 0.5;
}